<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Yu's Blog</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Yu's Blog</h1>
        <p class="view"><a href="https://github.com/uynil">GitHub Link</a></p>
        <p class="view"><a href="http://uynil.gitbooks.io/odoo-wms/">odoo wms</a></p>
        <p>最新文章</p>
　　    <ul>
　　　　    {% for post in site.posts[0..4] %}
　　　　　　    <li>{{ post.date | date_to_string }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
　　　　    {% endfor %}
　　    </ul>
      </header>
      <section>
         {{content}}
      </section>
      <footer>
        <script src="/javascripts/scale.fix.js"></script>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small> | 
        <small><script language="javascript" type="text/javascript" src="http://js.users.51.la/17567251.js"></script>
        <!--noscript><a href="http://www.51.la/?17567251" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/17567251.asp" style="border:none;display:none" /></a></noscript-->
        </small></p>
        <div style="float: right;">
		<a href="http://creativecommons.org/licenses/by-nc/3.0/" rel="license" target="_blank"><img src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" style="border-width: 0pt;" alt="Creative Commons License"></a>
	</div>
      </footer>
    </div>
    
  </body>
</html>
